body {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

h1 {
  color: #e6e6e6;
  font-family: 'Bangers', cursive;
  font-size: 4em;
  letter-spacing: 0.1em
}

.left {
  position: fixed;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #203240;
}

.right {
  position: fixed;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  background: url(../img/stars.png) repeat 0 0;

}

div.header {
  padding-top: 1.5em;
  padding-bottom: 3em;

}

.btn {
  display: inline-block;
  width: 25%;
  padding: 1.5em 2em;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #B73739;
  color: #ddd;
  text-align: center;
  border-radius: 10px;
  transition: background-color ease-in-out .5s;
}

.btn:hover {
  background-color: #C44649;
}

.rocket {
  position: absolute;
  left: 50%;
  bottom: -2em;
  width: 262px;
  height: 460px;
  margin-left: -130.5px;
  background: url(../img/rocket_state1.png) no-repeat 0 0;
  transition: bottom ease-in 2s;

}

body.l-state1 .rocket{
  transition: none;
}

body.l-state2 .rocket {
  background: url(../img/rocket_state2.png) no-repeat 0 0;
}


body.l-state3 .rocket,
body.l-state4 .rocket {
  bottom: 800px;
  background: url(../img/rocket_state3.png) no-repeat 0 0;
}

body.l-state5 .rocket {
  width: 577px;
  height: 579px;
  margin-left: -288.5px;
  background: url(../img/boom.png) no-repeat 0 0;
  bottom: 4em;
}

.ground {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: url(../img/ground.png) repeat 0 0;
  
}

/*Lauch States*/

.state1,
.state2, 
.state3, 
.state4,
.state5 {
  display: none;
}

body.l-state1 .state1{display: block;}
body.l-state2 .state2{display: block;}
body.l-state3 .state3{display: block;}
body.l-state4 .state4{display: block;}
body.l-state5 .state5{display: block;}

















