body {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  color: #e6e6e6;
  font-family: 'Bangers', cursive;
  font-size: 4em;
  letter-spacing: 0.1em
}

.left {
  padding: 2em 2em; 
  position: fixed;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #203240;
}

.right {
  position: fixed;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  background: url(../img/stars.png) repeat 0 0;

}

div.top-space {
  height: 25%;

}

.btn {
  display: inline-block;
  width: 25%;
  padding: 2em 4em;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #B73739;
  color: #ddd;
  text-align: center;
  border-radius: 10px;
  transition: background-color ease-in .1s;
}

.btn:hover {
  background-color: #C44649;
}

.rocket {
  position: absolute;
  left: 50%;
  bottom: 1em;
  width: 261px;
  height: 418px;
  margin-left: -130.5px;
  background: url(../img/rocket_state1.png);
  transition: bottom ease-out 2s;

}



body.l-state3 .rocket,
body.l-state4 .rocket {
  bottom: 1000px;
}

.ground {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: url(../img/ground.png) repeat 0 0;
  
}

/*Lauch States*/

.state1,
.state2, 
.state3, 
.state4,
.state5 {
  display: none;
}

body.l-state1 .state1{display: block;}
body.l-state2 .state2{display: block;}
body.l-state3 .state3{display: block;}
body.l-state4 .state4{display: block;}
body.l-state5 .state5{display: block;}

















